/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/variables.css";

/*
  Or add your statements here:
 */
body {
  font-family: var(--font-family), serif;
  font-size:5em;
  height:100%;
}
h1, h2, h3, h4, h5 {
  font-family:var(--font-headline), san-serif;
}
footer {
  font-size:0.25em;
}
.ingredients-title {
  font-family: var(--font-headline), san-serif;
  font-size:0.5em;
}
nav {
  font-family: var(--font-headline), san-serif;
  font-size:0.35em;
  text-transform:uppercase;
}
