{{ partial "header" . }}

<section>
  <div class="center">
    <img src="images/SOMA.png" alt="SOMA BEER CO.">
    <p>Follow us on<br> <a href="https://www.instagram.com/somabeerco/"><img src="images/Instagram.png" alt="Follow us on Instagram" width="105" height="81"></a></p>
  </div>
</section>

Menu
<ul>
  <li><a href="https://www.instagram.com/somabeerco/">Instagram</a></li>
  <li><a href="/beers/ipa/">IPA</a></li>
  <li><a href="/beers/blonde/">Blonde</a></li>
</ul>

<p>SOMA is what you make of it. And we expect that whatever it is, it will be a damn good story…</p>
